
<h1>Sign In</h1>
<div class="signin">
<%= form_for @user, url: "/sessions", method: "post" do |f| %>
  <div>
    Email: <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <br />
  <div>
    Password:<%= f.password_field :password, placeholder: "Password" %>
  </div>
  <br />
  <%= f.submit "Sign In" %>
<% end %> 

<p>New user? <%= link_to "Sign up now!", new_user_path %></p>

</div>