<div class="left-nav">
  <ul>
    <%= link_to "BakR", root_path %>
  </ul>
</div>
<% if !current_user %>
  <div class="right-nav">
    <ul>
      <%= link_to "Sign Up", new_user_path %>
    </ul>
  </div>
  <div class="right-nav">
    <ul>
      <%= link_to "Log In", sign_in_path %>
    </ul>
  </div>
<% else %>
  <div class="right-nav">
    <ul>
      <%= link_to "Sign out", logout_path, :method => :delete %>
    </ul>
    </div>
  <div class="right-nav">
    <ul>
      <%= link_to "Add Product", new_product_path %>
    </ul>
  </div>
   <div class="right-nav">
    <ul>
      <%= link_to "Products", products_path %>
    </ul>
    </div>
  <div class="right-nav">
    <ul>
      <%= link_to "Profile", user_path(current_user) %>
    </ul>
  </div>
<% end %>