<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
   <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <header class='clearfix'>
    <%= render "shared/nav" %>
  </header>


<div class='content'>
  <%= yield %>
  <%= console %>
</div>

</body>
</html>
