

<div class="signup">
<h1> Sign up for BakR! </h1>

<%= form_for @user do |f| %>
  <div class="signupfields">
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div class="signupfields">
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div class="signupfields">
    <%= f.text_field :age, placeholder: "Age" %>
  </div>
    <div>
    <%= f.select :location, [['Sunset', 'sunset'],['Richmond','richmond'],['Marina','marina'],['Mission','mission'],['SOMA','soma'],['Pacific Heights','pacific heights'],['Nob Hill','nob hill']] %>
  </div>
  <div class="signupfields" id="signupbio">
    <%= f.text_field :bio, placeholder: "Bio"%>
  </div>
  <div class="signupfields">
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div class="signupfields">
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div class="signupfields">

    <input type="hidden" role="uploadcare-uploader" name="user[file]"/>

  </div>

  <%= f.submit "Sign Up", class: "btn btn-success" %>
<% end %> 
<div>