<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="frontpage">Welcome to BakR</h1> 
  </div>

  <h1> Categories </h1>


			<div class="col-xs-6">
				<div class="categorytitles">
					<%= link_to "Regular", products_path(type: "Regular").downcase %>
				</div>

				<%= link_to products_path(type: "Regular").downcase do %>
					<div class="homesquare1" >
					</div>
				<%end%>
			</div>

			<div class="col-xs-6">
				<div class="categorytitles">
					<%= link_to "Organic", products_path(type: "Organic").downcase %>
				</div>
				<%= link_to products_path(type: "Organic").downcase do %>
					<div class="homesquare2">
					</div>
				<%end%>
			</div>

			<div class="col-xs-6">
				<div class="categorytitles">
					<%= link_to "Gluten Free", products_path(type: "Glutenfree").downcase %>
				</div>
			<%= link_to products_path(type: "glutenfree").downcase do%>
				<div class="homesquare3">
				</div>
			<%end%>

			</div>


			<div class="col-xs-6">
				<div class="categorytitles">
					<%= link_to "Vegan", products_path(type: "Vegan").downcase %>
				</div>

			<%= link_to products_path(type: "Vegan") do %>
				<div class="homesquare4">
				</div>
			<%end%>

			</div> 
		


</div>