<h1> Edit </h1>

<div class="editproducts">
<%= form_for @product do |f| %>
  <div>
    <%= f.text_field :description, placeholder: "Description" %>
  </div>
  <div>
    <%= f.text_field :available, placeholder: "Avaiable" %>
  </div>
    <div>
    Category: <%= f.select :category, [['Regular','Regular'],['Vegan','Vegan'],['Organic','Organic'],['Gluton Free','Gluton Free']]%>
  </div>

  <%= f.submit "Edit Changes" %>
<% end %> 
</div>