

<div class="editproducts">
<h1> Edit </h1>
<%= form_for @product do |f| %>
  <div class="editproductfields">
    <%= f.text_field :description, placeholder: "Description" %>
  </div>
  <div class="editproductfields">
    <%= f.text_field :available, placeholder: "Avaiable" %>
  </div>
    <div class="editproductfields">
    Category: <%= f.select :category, [['Regular','Regular'],['Vegan','Vegan'],['Organic','Organic'],['Gluton Free','Gluton Free']]%>
  </div>
<div class="editproductfields">
  <%= f.submit "Edit Changes" %>
  </div>
<% end %> 
</div>