<div class="header-newprod">
<h1> What are you baking?</h1>
</div>

<div class ="addingproducts">


<%= form_for @product do |f| %>
  <div class="newproducts">
    <%= f.text_field :description, placeholder: "Description" %>
  </div>
  <div class="newproducts">
    <%= f.text_field :available, placeholder: "Avaiable" %>
  </div>
  <div class="newproducts">
    <%= f.select :category, [['Regular','regular'],['Vegan','vegan'],['Organic','organic'],['Glutenfree','glutenfree']]%>
  </div>
  <div class="newproducts">
  <input type="hidden" role="uploadcare-uploader" name="product[product_url]"/>
  <div class="newproducts">
  <%=f.submit "Add Product" %>
<% end %> 
</div>