<div class="header-newprod">
<h1> What are you selling?</h1>
</div>

<div class ="addingproducts">


<%= form_for @product do |f| %>
  <div>
    <%= f.text_field :description, placeholder: "Description" %>
  </div>
  <br />
  <div>
    <%= f.text_field :available, placeholder: "Avaiable" %>
  </div>
  <br />
    <div>
    <%= f.select :category, [['Regular','Regular'],['Vegan','Vegan'],['Organic','Organic'],['Glutonfree','Glutonfree']]%>
  </div>
  <br />

  <%=f.submit "Add Product" %>
<% end %> 
</div>