<h1> What are you selling?</h1>

<div class ="addingproducts">
<%= form_for @product do |f| %>
  <div>
    <%= f.text_field :description, placeholder: "Description" %>
  </div>
  <br />
  <div>
    <%= f.text_field :available, placeholder: "Avaiable" %>
  </div>
  <br />
    <div>
    <%= f.select :category, [['Regular','regular'],['Vegan','vegan'],['Organic','organic'],['gluton free','gluton free']]%>
  </div>
  <br />

  <%=f.submit "Add Product" %>
<% end %> 
</div>