<div>
  Welcome, <%= @user.first_name%> <%= @user.last_name%>  

</div>

<div>
Age:<%= @user.age%> <br />
Location:<%= @user.location%> <br />
Bio:<%= @user.bio%> <br />
User:<%= @user.kind%> <br />
</div>

<div>
What i'm selling:
</div>