	<div class="col-xs-6">
	<h1>User </h1>
		<div class="profile">


		
				<%= image_tag @user.file, :size => '260x260', class: "img-circle" %> <br /> 
				<%= @user.first_name%> <%= @user.last_name%>   <br />
				Age:<%= @user.age%> <br />
				Location:<%= @user.location%> <br />
				Bio:<%= @user.bio%> <br />
		</div>
		
		<%if !current_user%>

		<h5 class='nav-link btn btn-default'><%= link_to "Edit Profile", edit_user_path(@user)%></h5>
		<h5 class='nav-link btn btn-default'><%= link_to 'Delete Profile', @user, method: :delete %></h5>

		<%end%>
	</div>

<div class="col-xs-6">
	<div class="whatimselling">

		<h1>Currently Baking: </h1>

			<br />


		<% @user.products.each do |p| %>
		<div class="userpostings">

			Description: <%=p.description %> <br />
			Category: <%=p.category %> <br />
			Available:<%=p.available %> <br />
			<%= image_tag p.product_url, :size => '260x260'%> <br />
			<h5 class='nav-link btn btn-default'><%= link_to "Edit Posting", edit_product_path(p)%></h5>
			<h5 class='nav-link btn btn-default'><%= link_to 'Delete Posting', p, method: :delete %></h5>
			</div>
			<br />
<%end%>


</div>

</div>